@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

body {
    font-family: 'Noto Sans', sans-serif !important;
}

a {
    color: #CC3333;
}
a:hover {
    color: #cc3333 !important;
    text-decoration: none !important;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.center-btn {
    display: table;
    margin: 15px auto;
    padding: 5px 35px;
    border-bottom: 2px solid #CC3333;
    color: #444444;
    font-size: 18px;
    text-transform: uppercase;
}
.center-btn i {
    margin: 0 15px 0 0;
}

/* HEADER */
.header {
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
    background: url(../images/header_bg.png) repeat;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    position: relative;
    z-index: 99;
}

.top-bar {
    padding: 5px 0;
    background: #CC3333;
    color: #ffffff;
    font-size: 12px;
}
.top-bar a {
    color: #ffffff !important
}
.top-bar a:hover {
    color: #cc3333 !important
}
.left-top-bar {

}
.left-top-bar a {
    margin: 0 15px 0 0;
}
.left-top-bar i {
    margin: 0 5px 0 0;
    font-size: 18px;
    vertical-align: middle;
}

.right-top-bar {
    text-align: right;
}

.user-bar {
    display: inline-block;
}

.lang-bar {
    margin: 0 0 0 15px;
    display: inline-block;
}
.dropdown-menu a {
    color: #cc3333 !important;
}

/* HEADER BAR */
.header-bar {
    margin: 30px 0 15px 0;
}

.header-logo {
    text-align: left;
}
.header-logo a:hover {
    text-decoration: none;
}
.header-logo img {
    height: 80px;
}
.header-logo span {
    margin: 15px 0;
    display: block;
    font-size: 12px;
    color: #000000;
}

.user-panel {
    text-align: center;
}
.user-panel a {
    color: #444444 !important;
    text-transform: uppercase;
}
.user-panel a > i {
    font-size: 80px;
    color: #cc3333 !important;
}

.cart-bar {
    padding-left: 40px !important;
}
.cart-block {
    margin: 0 0 15px 0;
    padding: 8px 20px;
    display: block;
    font-size: 16px;
    background: #CC3333;
    color: #ffffff;
    border-radius: 5px;
    
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.35);
}
.cart-block:hover {    
    color: #cc3333 !important;
    background: #ffffff;
    
    border-bottom: 2px solid #cc3333;
    text-decoration: none;
}
.cart-block i {
    margin: 0 15px 0 0;
    color: #ffffff;
}
.cart-block:hover i {
    color: #cc3333;
}
.user-block {
    margin: 0 0 15px 0;
    padding: 8px 20px;
    display: block;
    font-size: 16px;
    background: rgba(255,255,255,.8);
    border-radius: 5px;
    border-bottom: 2px solid #CC3333;
    
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.35);
}
.user-block:hover {    
    color: #cc3333 !important;
    border-bottom: 2px solid #cc3333;
    text-decoration: none;
}
.user-block i {
    margin: 0 15px 0 0;
    color: #444444;
}

.search-block {
    margin: 0 0 15px 0;
    padding: 8px 20px;
    display: block;
    font-size: 20px;
    color: #cc3333 !important;
    border-bottom: 2px solid #dfe3e8;
}
.search-block input:focus {   
    outline: 0;
}
.search-block i {
    display: inline-block;
    margin: 0 15px 0 0;
    color: #444444;
}
.search-block input {
    display: inline-block;
    width: 150px;
    border: 0;
}


/* MAIN MENU */
.main-menu {
    
}
.main-menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-menu > ul > li {
    display: inline-block;
}
.main-menu > ul > li > a {
    display: block;
    margin: 0 20px 0 0;
    padding: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #444444;
    border-bottom: 1px solid transparent;
}
.main-menu > ul > li > a:hover {
    color: #cc3333 !important;
    border-bottom: 1px solid #cc3333;
}
.main-menu > ul > li:last-child {
    float: right;
}
.main-menu > ul > li:last-child a {
    padding: 5px 15px;
    color: #ffffff;
    background: #CC3333;
    border-radius: 15px 0 15px 0;
}
.main-menu > ul > li:last-child a:hover {
    background: #cc3333;
    color: #ffffff !important;
}
.main-menu > ul > li:last-child a i {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.sub-header {
    margin: 0 0 30px 0;
    padding: 10px 15px 10px 0;
    background: #ffffff;
    border: 1px solid #dfe3e8;
    border-top: 0;
    border-radius: 0 0 15px 15px;
}
.bread {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.bread > li {
    margin: 0 0 0 15px;
    display: inline-block;
    font-size: 12px;
}
.bread > li > a {
    color: #cc3333;
}
.bread > li::before {
    content: '>';
    margin: 0 15px 0 0;
}

.bread > li:first-of-type::before
{
    content: '';
}

.search-bar {
    float: right;
}
.search-bar input {
    display: inline-block;
    margin: 0;
    padding: 0px 10px;
    border: 0;
    border-bottom: 1px solid #cc3333;
}
.search-bar button {
    background: #cc3333;
    color: #ffffff;
    border: 0;
}
.search-bar input, .search-bar button {
    outline: 0;
}

/* CONTENT */
.content {
    
}

/* HOME FIRST */
.home-first {
    
}


/* CATEGORII */
.categories {
    
}
.categories > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.categories > ul > li {
    display: block;
    position: relative;
}
.categories > ul > li > a {
    display: block;
    margin: 5px 0;
    padding: 10px 0px;
    font-size: 13px;
    border-bottom: 1px solid #dfe3e8;
}

.categories > ul > li > a > i {
    float: right;
}
.categories > ul > li:first-child > a {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 4px solid #CC3333;
}
.categories > ul > li:hover > a, .categories > ul > li > a.active {
    border-bottom-color: #cc3333;
    color: #cc3333;
}

.categories > ul > li:hover .sub-categories {
    display: block;
}
.categories > ul ul {
    margin: 0 0 0 30px;
}
.categories > ul ul a {
    color: #444444;
    font-size: 12px;
}

.sub-categories {
    display: none;
    position: absolute;
    top: -47px;
    right: -877px;
    margin: 0;
    padding: 0 15px 15px 30px;
    width: 877px;
    height: 527px;
    background: #ffffff;
    border-right: 2px solid #cc3333;
    border-bottom: 2px solid #cc3333;
    z-index: 9999;
}
.sub-categories ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sub-categories ul > li {
    display: block;
}
.sub-categories ul > li > a {
    display: block;
    margin: 5px 0;
    padding: 5px 0;
    color: #444444;
    border-bottom: 1px solid #dfe3e8;
}
.sub-categories h3 {
    margin: 0 0 5px 0;
    padding: 10px 0px;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 4px solid #cc3333;
}
.all-category {
    display: block;
    margin: 30px 0;
    padding: 5px 0;
    text-align: center;
    font-size: 15px;
    border: 2px solid #CC3333;
}
.category-img {
    overflow: hidden;
}
.category-img > img {
    
}

/* SLIDESHOW */
.slideshow {
    margin: 10px 0;
    height: 520px;
    overflow: hidden;
}
.slideshow img {
    width: 100%;
}

/* TEXT BLOCK */
.text-block {
    margin: 30px 0;
}
.text-block-inn {
    padding: 15px;
    background: #CC3333;
    border: 2px solid #CC3333;
    color: #ffffff;
}
.text-block i {
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 40px;
    vertical-align: middle;
}
.text-block p {
    display: inline-block;
    font-size: 14px;
}


/* HOME ABOUT */
.home-about {
    margin: 0 0 30px 0;
    padding: 30px 0;    
    background: url(../images/gray-bg.png) repeat;
}
.home-about-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.home-about-list > li {
    display: block;
    background: #dfe3e8;
}
.home-about-list > li.active,
.home-about-list > li:hover  {
    background: #ffffff;
}
.home-about-list > li > a {
    display: block;
    margin: 0 0 4px 0;
    padding: 15px;
    color: #444444;
}

.home-about-txt {
    padding: 15px;
    height: 210px;
    background: #ffffff;
    text-align: justify;
    border-bottom: 1px solid #dfe3e8;
}


/* HOME PROMO */
.home-promo {
    padding: 20px 0;
}
.home-promo h3 {
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #cc3333;
}
.home-promo i {
    color: #cc3333;
}

/* HOME NEWS */
.home-news {
    padding: 15px 0;
    background: #dfe3e8;
    color: #444444;
}
.home-news h3 {
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #cc3333;
}
.news-item {
    margin: 15px 0;
}
.news-item-inn {
    padding: 0;
}
.news-item a {
    color: #444444;
}
.news-item img {
    width: 100%;
    margin: 0 0 15px 0;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.35);
}
.news-item h4 {
    margin: 5px 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #dfe3e8;
    color: #cc3333;
    font-size: 14px;
    text-transform: uppercase;
}
.news-item time {
    display: block;
    margin: 0 0 5px 0;
    padding: 0 0 10px 0;
    font-size: 11px;
    font-style: italic;
    border-bottom: 1px solid #dfe3e8;
}
.news-item .news-item-short {
    font-size: 12px;
}

/* HOME SEO */
.home-seo {
    margin: 30px 0;
}
.home-seo h3 {
    margin: 15px 0 30px 0;
    text-align: center;
}
.home-seo p {
    font-size: 12px;
    text-align: justify;
}



/* PRODUCT-ITEM */
.product-item {
    margin: 15px 0;
    text-align: center;
}
.product-item-inn {
    position: relative;
    padding: 15px;
    border: 1px solid #dfe3e8;
}
.product-item img {
    width: 100%;
}
.product-bottom {
    
}
.product-item strong {
    font-size: 16px;
}
.product-price {
    margin: 15px 0 25px 0;
    font-size: 14px;
}
.product-panel {
    position: absolute;
    bottom: 0;
    left: 0px;
    margin: 15px 0px 0 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    color: #444444;
    -webkit-transition: height .3s; /* For Safari 3.1 to 6.0 */
    transition: height .3s;
    z-index: 99;
}

.product-item:hover .product-panel {
    height: 35px;
}
.product-item:hover .product-item-inn {
    
}
.product-panel input, .product-panel button {
    margin: 5px auto 0 auto;
    padding: 0 5px !important;
    display: block;
    width: 80%;
    height: 30px;
    text-align: center;
}
.product-panel button {
    border: 0;
    background: #CC3333;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.product-prop {
    position: absolute;
    left: -1px;
    width: 100px;
}
.product-new, .product-promo {
    margin: 5px 0 0 0;
    padding: 0 15px;
    width: 100%;
    color: #ffffff;
    opacity: .8;
    text-align: left;
}
.product-new {
    background: #CC3333;
    
}
.product-promo {
    background: #cc3333;
}
.product-item-inn i {
    display: inline-block;
    width: 18px;
    text-align: center;
    color: #ffffff;
}


/* CATEGORY */
.category-options {
    padding: 15px 0;
    border-bottom: 2px solid #dfe3e8;
    font-size: 12px;
}
.category-sort {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.category-sort > li {
    margin: 0 5px;
    display: inline-block;
}
.category-sort > li > a {
    display: block;
    padding: 0 5px;
}
.category-sort > li > a:hover, 
.category-sort > li > a.active {
    background: #CC3333;
    color: #ffffff !important;
}

.category-desc {
    
}
.category-desc > h2 {
    font-size: 24px;
}
.category-desc > p {
    font-size: 12px;
    text-align: justify;
}

.sub-categories-list {
    margin: 15px 0;
}
.sub-categories-list > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sub-categories-list > ul > li {
    display: block;
}
.sub-categories-list > ul > li > a {
    padding: 5px;
    display: block;
    color: #444444;
    border-bottom: 1px solid #dfe3e8;
}
.sub-categories-list > ul > li > a > img {
    margin: 0 15px 0 0;
    width: 70px;
}


/* FILTRE */
.filters-block {
    margin: 30px 0;
    border-top: 2px solid #CC3333;
}
.filter-item {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
}
.filter-title {
    font-weight: bold;
    text-transform: uppercase;
}
.filter-inn {
    margin: 15px -15px;
}
.filter-inn input[type=text] {
    border-radius: 0;
}
.filter-inn label {
    display: block;
    font-weight: normal;
    cursor: pointer;
}
.filter-inn input[type=checkbox] {
    margin: 0 5px 0 0;
    cursor: pointer;
}


/* PRODUCT PAGE */
.product {
    
}
.product h1 {
    margin: 0 0 15px 0;
    font-size: 24px;
}
.product-images {
    
}
.main-thumb {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #dfe3e8;
}
.thumb {    
    margin: 15px 0;
}
.thumb img {
    border: 1px solid #dfe3e8;
    width: 100%;
}

.product-buy {
    margin: 30px -15px;
}
.inn {    
    padding: 15px 0;
    height: 90px;
    text-align: center;
}
.in-stock {
    
}
.inn i {
    display: block;
    font-size: 40px;
    color: #99cc00;
}
.product-price-p {
    
}
.product-price-p strong {
    display: block;
    font-size: 26px;
}
.buy-btn button {
    color: #CC3333;
    display: block;
    width: 100%;
    border: 0;
    text-align: center;
    background: transparent;
}
.buy-btn i {    
    color: #CC3333;
}




/* FOOTER */
.footer {
    margin: 15px 0;
    padding: 15px 0;
}
.footer-contacts {
    padding: 15px 0 0 0;
    border-bottom: 2px solid #CC3333;
}
.footer-contacts input {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background: #dfe3e8;
    color: #444444;
    border: 0;
}
.footer-contacts input::-webkit-input-placeholder {
    color: #444444 !important;
}

.footer-contacts input::-moz-placeholder {
    color: #444444 !important;
}

.footer-contacts input:-ms-input-placeholder {
    color: #444444 !important;
}

.footer-contacts button {
    display: inline-block;
    padding: 10px;
    background: #cc3333;
    color: #ffffff;
    border: 0;
}

.footer-contacts tel {
    display: inline-block;
    margin: 10px 15px;
    font-size: 18px;
}
.footer-contacts-btn {    
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 10px 0 0 0;
    color: #444444;
    font-size: 18px;
}

.footer-contacts iframe {
    padding: 5px 0;
    border-top: 2px solid #CC3333;
}

.footer nav {
    padding: 15px;
}
.footer nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer nav > ul > li {
    padding: 0;
    display: block;
    font-weight: bold;
}
.footer nav > ul > li:first-child {
    margin: 0 0 10px 0;
}
.footer nav > ul > li > a {
    padding: 5px 0;
    color: #444444;
    display: block;
    font-weight: normal;
    border-bottom: 1px solid #dfe3e8;
}

.footer-details {
    margin: 30px 0;
    text-align: right;
}
.footer-socials {
    margin: 30px 0 0 0;
}
.footer-copy {
    margin: 30px 0 0 0;
}

.filter-inn .slider.slider-horizontal {
    margin-left: 15px;
    width: calc(100% - 30px);
}

#product-filter-wrap .filter-value-wrap .select2-selection__rendered li {
    display: none;
}

#product-filter-wrap .filter-value-wrap .select2-selection__rendered li:first-of-type {
    display: block;
}