/* Tablet */
@media screen and (max-width: 992px) {
    .logo-block {
        margin: 0;
        padding: 5px 0;
    }
    .header-phone {
        margin: 0;
        padding: 16px;
        background: #FFFFFF;
        color: #CC3333;
        border-radius: 0;
    }
    .navigation {
        display: none;
    }
    .navigation > li {
        display: block;
        width: 100%;
    }
    .navigation > li > a {
        margin: 5px 0;
        text-align: left;
        border: 1px solid rgba(255,255,255,.2);
    }
    .slideshow-item {
        max-height: 400px;
    }
    .slideshow-item img {
        width: auto !important;
        height: 100%;
    }
    .owl-theme .owl-controls {
        margin-top: -150px !important;
        margin-bottom: 20px !important;
    }
}



/* Phone */
@media screen and (max-width: 768px) {
    .logo-block {
        margin: 0;
    }
}