@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,900&subset=cyrillic,latin-ext');

body {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 14px;
}

.header {
    
}
.top-bar {
    padding: 15px 0;
    font-size: 12px;
    background: #DDDDDD;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.15);
}
.top-bar a {
    color: #777777;
}
.ul-inline {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ul-inline > li {
    display: inline-block;
}
.ul-inline > li > a {
    margin: 0 0 0 30px;
    display: block;
}

.header-content {
    padding: 15px 0;
    background: #EEEEEE;
}
.logo-block {
    margin: -40px 0 0 0;
    padding: 25px 0;
    display: block;
    text-align: center;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
}
.header-contact {
    margin: 15px 0;
    font-size: 13px;
}
.header-contact > p {
    margin: 5px 0;
    color: #777777;
}
.header-contact > p > i {
    font-size: 20px;
    margin: 0 5px 0 0;
}
.header-contact > strong {
    display: block;
    color: #444444;
    font-size: 14px;
}
.header-slogan {
    margin: 25px 0 0 0;
}
.header-contact a {
    color: #444444;
}
.header-phone {
    display: block;
    margin: 20px 0;
    padding: 10px 0;
    color: #FFFFFF;
    background: #CC3333;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
}
.header-phone:hover {
    background: #FFFFFF;
    color: #444444;
    text-decoration: none;
}

.header-menu {
    background: #444444;
}
.open-menu {
    font-size: 40px;
}
.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation > li {
    position: relative;
    display: table-cell;
    width: 1%;
}
.navigation > li > a {
    padding: 16px 15px 20px 15px;
    display: block;
    color: #FFFFFF;
    text-align: center;
    border-top: 4px solid transparent;
}
.navigation > li > a > i {
    margin: 0 0 0 15px;
}
.navigation > li:hover > a {
    color: #CC3333;
    background: #FFFFFF;
    text-decoration: none;
    border-top: 4px solid #CC3333;
}
.navigation > li > ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 300px;
    background: #444444;
    z-index: 99;
}
.navigation > li > ul > li {
    display: block;
}
.navigation > li > ul > li > a {
    display: block;
    color: #FFFFFF;
    padding: 10px 15px;
    border-top: 1px solid rgba(255,255,255,.2);
}
.navigation > li > ul > li > a:hover {
    background: #DDDDDD;
    color: #444444;
    text-decoration: none;
}
.navigation > li:hover > ul {
    display: block;
}



/* SLIDESHOW */
.slideshow {
    
}
.slideshow-item {
    height: 600px;
}
.slideshow-item > a > img {
    width: 100%;
}


/* HOME ABOUT */
.home-about {
    position: relative;
    margin: 0px 0 0 0;
}
.home-about-bg {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.home-about p {
    margin: 15px 0;
    font-size: 13px;
    text-align: justify;
}
.home-about-btn {
    margin: 15px 0;
    padding: 15px 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #84bc1b;
    border: 1px solid #84bc1b;
}
.home-about-btn > i {
    display: block;
    margin: 0 0 15px 0;
    font-size: 40px;
}
.home-about-btn:hover {
    background: #FFFFFF;
    color: #84bc1b;
    text-decoration: none;
}


/* HOME WORKS */
.home-works {
    margin: 80px 0;
}
.hw-item {
    margin: 15px 0;
    display: block;
    color: #444444;
    font-size: 13px;
}
.hw-item:hover {
    color: #444444;
    text-decoration: none;
}
.hw-item > strong {
    display: block;
    padding: 10px 10px;
    background: #444444;
    color: #FFFFFF;
}
.hw-thumb {
    height: 200px;
    overflow: hidden;
}
.hw-thumb > img {
    width: 100%;
}


.page-title {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #EEEEEE;
}
.view-all {
    position: relative;
    margin: 30px auto;
    padding: 10px 30px;
    display: table;
    background: #CC3333;
    color: #FFFFFF;
}
.view-all:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -40px;
    width: 30px;
    height: 1px;
    background: #CC3333;
    transition: .3s all;
}
.view-all:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -40px;
    width: 30px;
    height: 1px;
    background: #CC3333;
    transition: .3s all;
}
.view-all:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.view-all:hover:before {
    left: -100px;
}
.view-all:hover:after {
    right: -100px;
}


/* HOME NEWS */
.home-news {
    margin: 0 0 60px 0;
}
.hn-item {
    display: block;
    color: #444444;
}
.hn-item:hover {
    display: block;
    color: #CC3333;
    text-decoration: none;
}
.hn-item strong {
    display: block;    
    font-size: 16px;
}
.hn-item p {
    margin: 10px 0;
    display: block;
    font-size: 13px;
    text-align: justify;
}
.hn-item time {
    font-size: 12px;
    color: #777777;
}


/* HOME SEO */
.home-seo {
    
}
.home-seo p {
    font-size: 12px;
    text-align: justify;
}


/* CONTENT */
.content {
    padding: 30px 0;
}
.category-page {
    
}
.category-list {
    
}
.category-item,
.product-item {
    margin: 15px 0;
    display: block;
    text-align: center;
}
.category-thumb {
    height: 200px;
    overflow: hidden
}
.category-thumb > img {
    width: 100%;
}
.category-item > strong {
    display: block;
    margin: 15px 0;
}
.category-item:hover {
    opacity: .9;
    text-decoration: none;   
}
.product-thumb {
    height: 120px;
    overflow: hidden
}
.product-thumb > img {
    width: 100%;
}
.product-item > strong {
    display: block;
    margin: 15px 0;
}


/* LEFT CATEGORIES */
.left-categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.left-categories > li {
    display: block;
}
.left-categories > li > a {
    display: block;
    margin: 10px 0;
    padding: 5px 15px;
    color: #444444;
    border: 1px solid #EEEEEE;
}
.left-categories > h4 {
    display: block;
    margin: 0;
    padding: 10px 15px;
    background: #EEEEEE;
}









/* FOOTER */

.footer {
    position: relative;
    margin: 82px 0 0 0;
    padding: 30px 0 0 0;
    background: #444444;
    color: #FFFFFF;
}	
.footer-newsletter {

}
.footer-newsletter p {
    font-size: 12px;
}
.footer-newsletter input {
    display: inline-block;
    margin: 15px 0;
    padding: 5px 15px;
    border: 0;
    font-size: 12px;
}
.footer-newsletter button {
    display: inline-block;
    margin: 15px 0;
    padding: 5px 15px;
    border: 0;
    font-size: 13px;
    border: 0;
    background: #CC3333;
    color: #FFFFFF;
}
.footer-social {

}
.footer-social a {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 0px 10px;
    background: #FFFFFF;
    color: #000000;
    font-size: 24px;
    border-radius: 5px;
}
.footer-social a:hover {
    color: #CC3333;
}
.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-nav > li {
    display: block;
    font-size: 12px;
}
.footer-nav > li  a {
    padding: 2px 0;
    color: #FFFFFF;
}
.footer-copy {
    margin: 15px 0 0 0;
    padding: 15px 0;
    font-size: 12px;
    border-top: 1px solid #FFFFFF;
}

#subscribe-form input {
    color: #222222;
}

.by_nixap {
    float: right;
    font-size: 14px;
    font-family: 'Lobster', cursive;
}
.by_nixap a {
    color: #CC3333;
}
.by_nixap a:hover {
    text-decoration: none;
    color: #CC3333;
}
